<header class="header">
  <div class="header-container">
    <!-- Logo ve Yan Icon -->
    <div class="header-brand">
      <!-- Yan Icon -->
      <a href="/" class="header-logo">
        <svg class="logo-head-icon" aria-hidden="true">
          <use href="./img/img/footer-icon.svg#icon-vector"></use>
        </svg>

        <svg class="logo-head-text" aria-label="Green Harvest Logo">
          <use href="./img/img/footer-icon.svg#icon-green-harvest"></use>
        </svg>
      </a>
    </div>

    <!-- Mobile Menu Toggle -->
    <input
      type="checkbox"
      id="menu-toggle"
      class="menu-toggle"
      aria-hidden="true"
    />
    <label for="menu-toggle" class="burger-button" aria-label="Open menu">
      <svg width="27" height="20" class="burger-icon" aria-hidden="true">
        <use href="./img/symbol-defs.svg#icon-burger"></use>
      </svg>
    </label>

    <!-- Desktop Navigation -->
    <nav class="desktop-nav" aria-label="Main navigation">
      <ul class="nav-bar-list">
        <li class="nav-bar-element">
          <a href="#how-it-works">How It Works</a>
        </li>
        <li class="nav-bar-element"><a href="#vegetables">Vegetables</a></li>
        <li class="nav-bar-element"><a href="#reviews">Reviews</a></li>
      </ul>
      <button class="nav-bar-button" type="button">Shop now</button>
    </nav>

    <!-- Mobile Menu -->
    <div class="mobile-menu">
      <div class="mobile-menu-inner">
        <label for="menu-toggle" class="mobile-menu-close">
          <svg class="close-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-close"></use>
          </svg>
        </label>

        <nav class="mobile-nav">
          <ul class="mobile-menu-list">
            <li>
              <a class="mobile-menu-link" href="#how-it-works">How It Works</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="#vegetables">Vegetables</a>
            </li>
            <li><a class="mobile-menu-link" href="#reviews">Reviews</a></li>
          </ul>
        </nav>

        <button class="mobile-menu-button" type="button">Shop now</button>
      </div>
    </div>
  </div>
</header>