<section class="vegetables" id="vegetables">
  <div class="vegetables__container">
    <header class="vegetables__header">
      <h2 class="vegetables__title">
        <span class="vegetables__title-organic">Organic</span><br />
        <span class="vegetables__title-vegetables">Vegetables</span>
      </h2>
      <p class="vegetables__description">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </header>
    <ul class="vegetables__cards" role="list">
      <li class="vegetable-card">
        <h3 class="vegetable-card__name">Eggplant</h3>
        <p class="vegetable-card__price">60 USD / kg</p>
        <img
          src="/img/img/auberg-1x.jpg"
          srcset="/img/img/auberg-1x.jpg 1x, /img/img/auberg-2x.jpg 2x"
          alt="Eggplant"
          class="vegetable-card__image"
          loading="lazy"
        />
      </li>
      <li class="vegetable-card">
        <h3 class="vegetable-card__name">Leek</h3>
        <p class="vegetable-card__price">50 USD / kg</p>
        <img
          src="/img/img/leek-1x.jpg"
          srcset="/img/img/leek-1x.jpg 1x, /img/img/leek-2x.jpg 2x"
          alt="Leek"
          class="vegetable-card__image"
          loading="lazy"
        />
      </li>
      <li class="vegetable-card">
        <h3 class="vegetable-card__name">Mushrooms</h3>
        <p class="vegetable-card__price">40 USD / kg</p>
        <img
          src="/img/img/mushroom-1x.jpg"
          srcset="/img/img/mushroom-1x.jpg 1x, /img/img/mushroom-2x.jpg 2x"
          alt="Mushrooms"
          class="vegetable-card__image"
          loading="lazy"
        />
      </li>
      <li class="vegetable-card">
        <h3 class="vegetable-card__name">Corn</h3>
        <p class="vegetable-card__price">60 USD / kg</p>
        <img
          src="/img/img/corn-1x.jpg"
          srcset="/img/img/corn-1x.jpg 1x, /img/img/corn-2x.jpg 2x"
          alt="Corn"
          class="vegetable-card__image"
          loading="lazy"
        />
      </li>
      <li class="vegetable-card">
        <h3 class="vegetable-card__name">Sweet Potatoes</h3>
        <p class="vegetable-card__price">50 USD / kg</p>
        <img
          src="/img/img/sweetPo-1x.jpg"
          srcset="/img/img/sweetPo-1x.jpg 1x, /img/img/sweetPo-2x.jpg 2x"
          alt="Sweet potatoes"
          class="vegetable-card__image"
          loading="lazy"
        />
      </li>
      <li class="vegetable-card">
        <h3 class="vegetable-card__name">Carrot</h3>
        <p class="vegetable-card__price">40 USD / kg</p>
        <img
          src="/img/img/carrot-1x.jpg"
          srcset="/img/img/carrot-1x.jpg 1x, /img/img/carrot-2x.jpg 2x"
          alt="Carrot"
          class="vegetable-card__image"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
