/* =========================================================
   FOOTER - EBRU (BASE STYLES)
   ========================================================= */

.footer {
  background-color: #7A3145;
  color: #FBFBFB;
  
  
}

.footer a {
  color: #FBFBFB;
  text-decoration: none;
}


/* =========================================================
   FOOTER - CONTAINER
   ========================================================= */

.footer-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 52px 100px;
  gap: 124px;
 
}


/* =========================================================
   FOOTER - TOP LAYOUT
   ========================================================= */

.footer-top {
  display: flex;
   justify-content: space-between;
  
}


/* =========================================================
   FOOTER - BRAND AREA
   ========================================================= */

.footer-brand {
  max-width: 265px;
  position: relative;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 216px;
  height: 20px;
  fill: #FBFBFB;
 
}

.logo-icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}


.footer-text {
  font-size: 16px;
  line-height: 1.25;
}


/* =========================================================
   FOOTER - RIGHT AREA
   ========================================================= */

.footer-right {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 120px;
  align-items: flex-start;
}


/* =========================================================
   FOOTER - NAVIGATION
   ========================================================= */

.footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.footer-nav a {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}


/* =========================================================
   FOOTER - CONTACT
   ========================================================= */

.footer-contact {
 max-width: 216px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
 



.footer-contact a,
.footer-contact address {
  color: #FBFBFB;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  font-style: normal;
  
}


/* =========================================================
   FOOTER - BOTTOM AREA
   ========================================================= */

.footer-bottom {
  padding-top: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
   color: #D4BFC4;
   font-weight: 500;
}

.footer-bottom a {
  color: inherit;
}

/* =========================================================
   FOOTER - MEDIA QUERIES
   ========================================================= */


/* ================= TABLET ================= */

@media screen and (max-width: 768px) {

  .footer-container {
    max-width: 768px;
    margin: 0 auto;
    padding: 32px;
  }

  .footer-top {
    gap: 60px;
  }

  .footer-brand {
    max-width: 300px;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer-nav ul {
    gap: 24px;
  }

  .footer-logo {
    width: 216px;
    height: 20px;
  }

  .footer-contact {
    padding-top: 64px;
  }
}

/* ================= MOBILE ================= */

@media screen and (max-width: 375px) {

  .footer-container {
    padding: 40px 20px;
    max-width: 375px;
    width: 100%;
  }

  .footer-top {
    flex-direction: column;
    gap: 20px;
  }

  .footer-right {
    gap: 14px;
  }

  .logo-text {
    width: 148px;
    height: 12px;
  }

  .footer-text {
    font-size: 14px;
    font-weight: 500;
  }

  .footer-logo {
    width: 168px;
    height: 16px;
    gap: 4px;
  }

  .logo-icon {
    width: 16px;
    height: 16px;
  }

  .footer-nav ul {
    gap: 14px;
  }

  .footer-contact a,
  .footer-contact address {
    color: #FBFBFB;
    font-size: 14px;
    line-height: 1.42;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    max-width: 200px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    line-height: 1.42;
    font-size: 14px;
  }
}

/* =========================================================
   FOOTER - MEDIA - END
   ========================================================= */