


@media (max-width: 768px) {

    .reviews-section {
        padding: 60px 20px;
    }

    .reviews-section-main-title {
        font-size: 2rem;
        line-height: 1.2;
    }

    .reviews-section-main-text {
        font-size: 0.95rem;
        margin-bottom: 40px;
    }

    
    .reviews-avatar-list {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .reviews-avatar-list-item {
        width: 100%;
        padding: 25px 18px;
    }

    .reviews-avatar-list-name {
        font-size: 1rem;
    }

    .reviews-avatar-list-text {
        width: 100%;
        font-size: 0.9rem;
    }
}

/*your-order-recep-mobile-css*/
@media screen and (max-width: 767px) {
  .order-content {
    min-width: 375px;
    padding: 80px 20px;
    gap: 40px;
  }
  .order-content-text {
    max-width: 335px;
  }
  .order-content-text h2 {
    font-size: 48px;
    line-height: 1.08333;
    margin-bottom: 140px;
  }
  .order-content-box {
    max-width: 335px;
    gap: 20px;
  }
  .order-content-text-box {
    margin: 0 auto;
  }
  .order-content-social-media-wrapper,
  .order-content-card {
    max-width: 335px;
    width: 100%;
    padding: 40px 20px;
  }
  .order-content-card h3 {
    font-size: 26px;
  }
  .order-content-social-networks p {
    font-size: 14px;
  }
  .order-content-social-networks ul {
    gap: 8px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 374px) {
  .order-content {
    min-width: 0;
    max-width: 374px;
    width: clamp(50px, 100%, 374px);
  }
  .order-content-text-box {
    width: clamp(30px, 100%, 374px);
  }
  .order-content-text-box h2 {
    font-size: clamp(8px, 10vw, 48px);
  }
  .order-content-card {
    width: clamp(30px, 100%, 374px);
  }
  .order-content-card h3 {
    font-size: clamp(4px, 10vw, 26px);
  }
  .order-content-social-networks ul {
    font-size: clamp(4px, 10vw, 18px);
  }
}

@media (min-width: 375px) and (max-width: 767px){
.burger-button {
        display: flex;
    }

    .nav-bar-button {
        display: none;
    }

    .nav-bar-list {
        display: none;
    }

    .header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .nav-bar-element a {
        padding: 8px 14px;
        font-size: 0.8rem;
    }

    .desktop-nav {
        display: none;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
        pointer-events: none;
    }

    .burger-button {
        display: grid;
        place-items: center;
        width: 44px;
        height: 44px;
        cursor: pointer;

        border: 1px solid rgba(255, 255, 255, 0.35);
        border-radius: 12px;
        background: transparent;
    }

    .burger-icon {
        width: 28px;
        height: 28px;
    }

    .mobile-menu {
        display: block;

        position: fixed;
        inset: 0;
        z-index: 999;

        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms ease;
    }

    .mobile-menu::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.35);
    }

    .mobile-menu-inner {
        position: relative;
        z-index: 1;

        height: 100%;
        width: min(360px, 82vw);
        margin-left: auto;

        background: var(--menu-right-bg);
        padding: 24px;

        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 280ms ease;

        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;

    }

    .menu-toggle:checked~.mobile-menu {
        opacity: 1;
        pointer-events: auto;
    }

    .menu-toggle:checked~.mobile-menu .mobile-menu-inner {
        transform: translateX(0);
    }

    /* Close */
    .mobile-menu-close {
        align-self: flex-end;
        cursor: pointer;
        width: 44px;
        height: 44px;

        display: grid;
        place-items: center;

        border: 1px solid rgba(255, 255, 255, 0.35);
        border-radius: 12px;
    }

    .mobile-menu-list {
        display: flex;
        flex-direction: column;
        gap: 48px;
        justify-content: center;
        align-items: center;
        padding-top: 360px;
    }

    .mobile-menu-link {
        display: block;
        padding: 12px 14px;
        border-radius: 12px;

        color: var(--menu-text-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        font-weight: 600;
    }

    .mobile-menu-link-hiw {
        border: 1px solid #fbfbfb;
        width: 118px;
        height: 44px;
        border-radius: 12px;
        padding: 12px;
        background-color: #fbfbfb;
        font-size: 16px;
    }

    .mobile-menu-link-veg {
        border: 1px solid #fbfbfb;
        border-radius: 12px;
        padding: 12px 21px;
        width: 122px;
        height: 44px;
        color: #fbfbfb;
        font-size: 16px;
    }

    .mobile-menu-link-rev {
        border: 1px solid #fbfbfb;
        border-radius: 12px;
        padding: 12px 28px;
        width: 123px;
        height: 44px;
        color: #fbfbfb;
        font-size: 16px;
    }

    .mobile-menu-link:hover {
        background: rgba(255, 255, 255, 0.12);
    }

    .mobile-menu-button {
        margin-top: auto;
        width: 100%;
        width: 157px;
        height: 52px;

        background-color: #7a3145;
        color: #fbfbfb;
        border: none;

        border-radius: 40px;
        padding: 14px 18px;

        font-weight: 800;
        text-transform: uppercase;
        cursor: pointer;

    }

    .hero {
        flex-direction: column;
        min-height: auto;
    }

    .hero-container,
    .hero-image {
        width: 100%;
    }

    .hero-container {
        padding: 110px 24px 32px;
    }

    .hero-title {
        font-size: 76px;
        letter-spacing: -1px;
    }

    .hero-text {
        font-size: 16px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        height: 40px;

    }
          
         
    
        }

  
    



 
