
@media (max-width: 1024px) {

    .reviews-section {
        padding: 80px 40px;
    }

    .reviews-section-main-title {
        font-size: 2.4rem;
        max-width: 100%;
    }

    .reviews-section-main-text {
        max-width: 100%;
    }

    /* Grid 2 kolona düşsün */
    .reviews-avatar-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        border: none;
    }

    .reviews-avatar-list-item {
        width: 100%;
        padding: 30px 20px;
    }

    .reviews-avatar-list-text {
        width: 100%;
    }
}



@media screen and (max-width: 1279px) {
  .order-content {
    min-width: 768px;
  }
  .order-content-text-box {
    padding: 0;
  }
  .order-content-box {
    flex-direction: column;
    max-width: 640px;
    width: 100%;
  }
  .order-content-card {
    padding: 72px 100px;
  }
  .order-content-social-media-wrapper,
  .order-content-card {
    max-width: 640px;
    width: 100%;
  }

  .order-content-social-media-wrapper {
    padding: 52px;
  }
  .order-content-card-image {
    max-width: 536px;
    margin-bottom: 52px;
  }
  .order-form-button button:hover,
  .order-form-button button:focus {
    background-color: #732036;
    color: #fbfbfb;
  }
  .order-form-button button:active {
    color: #7a3345;
    background-color: #fbfbfb;
  }
}

